body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
  }
  .header-1{
    background:scroll;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:2rem 9%;
  }
  
  .logo{
    color:var(--black);
    font-weight: bolder;
    font-size: 3rem;
  }
  
  .logo i{
    padding-right: .5rem;
    color:var(--green);
  }
 
  .header-2{
    background:#27ae60;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding:2rem 9%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    position: relative;
  }
  
  .header-2.active{
    position: fixed;
    top:0; left: 0; right:0;
    z-index: 10000;
  }
  
  .header-2 .navbar a{
    padding:.5rem 1.5rem;
    font-size: 2rem;
    border-radius: .5rem;
    color:var(--black);
    text-decoration: none;

  }
  
  .header-2 .navbar a:hover{
    background:var(--white);
    color:#fff;
  }
  
  .header-2 .icons a{
    font-size: 2.5rem;
    color:var(--black);
    padding-left: 1rem;
  }
  
  .header-2 .icons a:hover{
      background:var(--white);
      color:#fff;
  }
  
  /* Product section styles */
  .product-section {
    padding: 40px 20px;
    text-align: center;
  }
  
  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  
  .product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
  }
  
  .product-card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
    height: 200px;
    width: 250px;
  }
  
  .product-card h2 {
    font-size: 20px;
    margin: 10px 0;
  }
  
  .product-card p {
    font-size: 16px;
    color: #888;
  }
  
  .btn-add {
    background-color: #2e8b57;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn-add:hover {
    background:#27ae60;

  }
  
  /* Footer styles */
  .footer {
    background:#27ae60;

    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
  }

  #nname{
    width: 180px;
    height: 33px;
    border: none;
    font-size: 30px;
    background:#27ae60;
  }

  #nname:hover{
    background-color:white;
  }